*{
    margin: 1%;
    padding: 0%;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}
#Tiempojuego{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: #f4f4f8;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}

.encabezado{
    background-color: #ebb9c9;
    color: #fff;
    width: 100%;
    margin-bottom: 0%;
    margin: 0%;
    padding: 0%;

}
#botonjugar{
    border-radius: 15px;
    background-color: #d168ae;
    height: 30px;
    width: 125px;
    border: 1px grandient #6e123d;
    box-shadow: 0 2px #999;
}
#botonjugar:hover {
    background-color: #df83c3; 
  } 
.Botones{
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Boton:active,
.Boton.active {
    filter: brightness(200%);
}

#rojo{
    background-color: #f44336;
    color: #f44336;
   /* padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    box-shadow: 0 2px #999;
}
#rojo:hover {
    background-color: #ec2112;
}
#verde{
    background-color: #4caf50;
    color: #4caf50;
   /* padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    box-shadow: 0 2px #999;
}
#verde:hover {
    background-color: #48f04e;
}
#azul{
    background-color: #2196f3;
    color: #2196f3;
    /*padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    box-shadow: 0 2px #999;
}
#azul:hover {
    background-color: #4ea6f3;
}
#amarillo{
    background-color: #ffeb3b;
    color: #ffeb3b;
   /* padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    box-shadow: 0 2px #999;
}
#amarillo:hover {
    background-color: #fcf966;
}
.Botonesadcionales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre los botones adicionales */
    margin-top: 20px; /* Agregar margen superior */
}

#instrucciones{
    background-color: #f36eb0;
    color: #131212;
    border: 1px solid #131212;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    box-shadow: 0 2px #999;
}
#instrucciones:hover{
    background-color: #f0ccde;
}
#score{
    background-color: #f36eb0;
    color: #131212;
    border-radius: 15px;
    border: 1px solid #131212;
    height: 50px;
    width: 150px;
    box-shadow: 0 2px #999;
}
#score:hover{
    background-color: #f0ccde;
}


/* Ahora vamos a darle estilo a la ventana modal (login)*/

