*{
    margin: 1%;
    padding: 0%;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}
#Tiempojuego{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}  
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: #f4f4f8;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

}
.encabezado{
    background-color: #ebb9c9;
    color: #fff;
    width: 100%;
    margin-bottom: 0%;
    margin: 0%;
    padding: 0%;

}
#botonjugar{
    border-radius: 15px;
    background-color: #d168ae;
    height: 30px;
    width: 125px;
    border: 1px grandient #6e123d;
}
.Botones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 200px;
}

#rojo{
    background-color: #f44336;
    color: #f44336;
   /* padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 150px;
    width: 300px;
}
#verde{
    background-color: #4caf50;
    color: #4caf50;
   /* padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 150px;
    width: 300px;
}
#azul{
    background-color: #2196f3;
    color: #2196f3;
    /*padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 150px;
    width: 300px;
}
#amarillo{
    background-color: #ffeb3b;
    color: #ffeb3b;
   /* padding: 0.5rem 0.5rem;
    margin: 0.5rem;*/
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    height: 150px;
    width: 300px;
}
#instrucciones{
    background-color: #f0ccde;
    color: #131212;
    border: 1px solid #131212;
    border-radius: 15px;
    height: 50px;
    width: 150px;
}
#score{
    background-color: #f0ccde;
    color: #131212;
    border-radius: 15px;
    border: 1px solid #131212;
    height: 50px;
    width: 150px;

}